@use "_variables" as variables;

// Logo
.logo {
  width: 134.85px;
  height: auto;
}

// Form
.email-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 448px;
  max-width: 100%;

  input[type="email"] {
    @include variables.text-present3;
    background-color: variables.$blue-900;
    color: variables.$white;
    box-sizing: border-box;
    border: none;
    width: 448px;
    height: 52px;
    max-width: 100%;
    border-radius: 28px;
    padding-right: 180px;
    padding-left: 24px;
    caret-color: variables.$green;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: variables.$white;
      opacity: 0.5;
    }

    &.error {
      border: 2px solid variables.$red;
    }
  }

  .btn-request {
    @include variables.text-present3;
    background-color: variables.$green;
    color: variables.$blue-950;
    padding: variables.$sp-300;
    border: none;
    border-radius: 28px;
    width: 173px;
    height: 44px;
    cursor: pointer;

    position: absolute;
    right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: mix(variables.$white, variables.$green, 50%);
    }
  }

  .error-message {
    font-size: 12px;
    font-weight: bold;
    color: variables.$red;
    margin-left: variables.$sp-400;
    padding-top: variables.$sp-1100;
    position: absolute;

    display: none;
  }
}

@media (max-width: 375px) {
  .email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 303px;
    margin: 0 auto;

    input[type="email"] {
      width: 100%;
      height: 44px;
      padding: variables.$sp-300;
      border-radius: 28px;
      box-sizing: border-box;
    }

    .btn-request {
      position: relative;
      width: 100%;
      height: 44px;
      margin-top: variables.$sp-100;
      margin-left: variables.$sp-100;

      border-radius: 28px;
    }
  }
}
