@use "_variables";
@use "_components";

// CSS Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  font-family: variables.$font-family;
  background-color: variables.$blue-950;
  line-height: 1.6;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10rem;
  margin-top: 9.563rem;
}

.logo {
  height: 3.5rem;
}

.content {
  margin-top: 6.5rem;
}

.title {
  @include variables.text-present1;
  padding-top: 5.5rem;
}

.title-green {
  color: variables.$green;
}

.title-white {
  color: variables.$white;
}
